@import "reset.css";
@import "ui.css";
header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
.main-header__logo {
  display: block;
  margin: 15px 0;
  width: 128px;
  height: 25px;
}
.main-header__content {
  position: relative;
  background: url("../img/header.png") no-repeat;
  height: 420px;
  margin-top: 8px ;
  box-shadow: 0 -3px 10px 1px #34495e;
  border-radius: 7px 7px 0 0;
}
.main-header__title {
  color: white;
  margin: 0 auto;
  text-align: center;
}
.main-header__title--first-title {
  font-family: "Arial";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: inherit;
  line-height: inherit;
  margin-top: 60px;
}
.main-header__title--second-title {
  font-family: "Arial";
  font-size: 50px;
  font-weight: bold;
  letter-spacing: inherit;
  line-height: inherit;
  margin-top: 30px;
}
.main-header__mac-image {
  width: 720px;
  height: 410px;
  position: absolute;
  bottom: -218px;
  left: 140px;
}
.main-header__content__link {
  color: #846ef2;
  position: absolute;
  top: 385px;
  right: 360px;
  z-index: 1;
  font-family: "Tahoma Regular";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: inherit;
  line-height: inherit;
}
.promo {
  display: flex;
  flex-direction: column;
}
.promo__intro {
  margin: 240px 0 0 0 ;
}
.promo__intro__title {
  font-family: "Arial", "Helvetica", sans-serif;
  margin-left: 5px;
  margin-top: 14px;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
}
.promo__intro__list {
  list-style: none;
  margin-top: 12px;
}
.promo__intro__item {
  font-family: "Arial", "Helvetica", sans-serif;
  position: relative;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  left: 15px;
  top: -1px;
}
.promo__intro__item:after {
  position: absolute;
  content: ".";
  /* Добавляемый текст */
  color: #000;
  /* Цвет текста */
  font-size: 40px;
  /* Размер шрифта */
  left: -12px;
  bottom: 13px;
}
.intro__item__company-name {
  color: #c1c1c1;
}
.promo__banner {
  margin: 37px auto 0 auto;
  width: 800px;
  height: 120px;
  background-color: #f7f8fa;
}
.promo__points-link {
  color: #7b99c0;
}
.banner__title--fitst,
.banner__title--second {
  text-align: center;
  font-family: "Arial", "Helvetica", sans-serif;
}
.banner__title--fitst {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 25px auto 0 -4px;
}
.banner__title--second {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 0;
}
.promo__rules-and-costs {
  display: flex;
  margin-top: 15px;
}
.promo__rules {
  width: 390px;
  margin-right: 20px;
}
.promo__rules__title {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  margin-top: 17px;
  margin-left: 5px;
}
.promo__rules__list {
  list-style: none;
  margin-left: 5px;
  margin-top: 20px;
}
.promo__rules__item {
  font-family: "Arial", "Helvetica", sans-serif;
  position: relative;
  font-size: 16px;
  padding-left: 10px;
  line-height: 24px;
  margin-bottom: 12px;
}
.promo__rules__item:after {
  position: absolute;
  content: ".";
  /* Добавляемый текст */
  color: #000;
  /* Цвет текста */
  font-size: 40px;
  /* Размер шрифта */
  left: -2px;
  bottom: 34px;
}
.promo__costs {
  margin-top: 15px;
}
.promo__costs__list {
  list-style: none;
  display: block;
}
.cost__item__points {
  font-size: 40px;
  line-height: 36px;
  color: #1ea01e;
  margin-top: 25px;
  font-family: "Arial Bold", "Helvetica", sans-serif;
  margin-bottom: 9px;
  font-weight: 600;
}
.cost__item__bonus {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
}
.form.form__active {
  min-height: 340px;
  transition-duration: 3s;
  transition-property: height;
}
.form {
  font-family: "Arial", "Helvetica", sans-serif;
  background-color: #fff4b3;
  min-height: 310px;
  display: block;
  margin-top: 25px;
}
.form__title {
  font-family: "Arial Bold", "Helvetica", sans-serif;
  font-size: 19px ;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 10px;
  font-weight: bold;
}
label {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 32px;
  display: block;
  margin-left: 140px;
  margin-bottom: 10px;
  margin-top: 23px;
}
input {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  float: right;
  margin-right: 135px;
  display: block;
  position: relative;
  height: 25px;
  width: 335px;
  background: #fdfadc;
  border-radius: 5px;
  padding: 5px 10px ;
}
input:focus {
  box-shadow: 0.1875em 0.1875em 0.3125em 0 #8b8e8d;
}
.form__telephone-error {
  display: block;
  width: 100%;
  color: red;
  float: right;
  text-align: center;
  position: relative;
  left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.form__telephone-error.display-none {
  display: none;
}
input[type="submit"] {
  box-shadow: none;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  width: 160px;
  height: 40px;
  background-color: #a8d987;
  color: white;
  border-radius: 5px;
  clear: both;
  margin-top: 13px;
  margin-right: 335px;
  border-width: 0;
}
input[type="submit"].btn-enable {
  background-color: #0d972b;
}
.extra {
  margin-top: 34px;
  padding-bottom: 60px;
}
.extra__bold {
  font-family: "Arial Bold", "Helvetica", sans-serif;
  font-weight: bold;
}
.extra__info {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
footer {
  background: black;
  z-index: 5;
}
.footer__img-div {
  width: 1000px;
  margin: 0 auto;
}
.footer_logo {
  padding: 20px;
}
@font-face {
  font-family: 'Arial-Black';
  src: url('./fonts/Arial-Black.eot');
  src: url('./fonts/Arial-Black.eot?iefix') format('eot'), url('./fonts/Arial-Black.woff') format('woff'), url('./fonts/Arial-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url('./fonts/ArialMT.eot');
  src: url('./fonts/ArialMT.eot?iefix') format('eot'), url('./fonts/ArialMT.woff') format('woff'), url('./fonts/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial Narrow';
  src: url('./fonts/ArialNarrow.eot');
  src: url('./fonts/ArialNarrow.eot?iefix') format('eot'), url('./fonts/ArialNarrow.woff') format('woff'), url('./fonts/ArialNarrow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '"Arial Bold"';
  src: url('./fonts/Arial-BoldMT.eot');
  src: url('./fonts/Arial-BoldMT.eot?iefix') format('eot'), url('./fonts/Arial-BoldMT.woff') format('woff'), url('./fonts/Arial-BoldMT.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Arial", "Helvetica", sans-serif;
  background: url("/dist/assets/img/12345.png") red;
  margin: 0;
  padding: 0;
}
section {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1000px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 100px;
  background-color: #ffffff;
  box-shadow: 0 1px 10px 1px #34495e;
}
ul,
li,
div {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */